<p id="notice"><%= notice %></p>

<div class="card grey lighten-4">
  <div class="card-content">
    <span class="card-title">Welcome to Rails ToDo Application</span>
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
    <a href="/signup" class="btn">Sign up now</a>
    <%= link_to "Login", login_path, class: "btn" %>
  </div>
</div>

<br>

